<!DOCTYPE html>
<html>
<head>
    <title>Income Tax Calculator</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            justify-items: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <div class="grid">
        <div>
            <form id="myForm" method="post">
                <label for="option">Subscription type:</label><br>
                <input type="radio" id="unityPersonal" name="option" value="personal" checked>
                <label for="unityPersonal">Unity Personal</label><br>
                <input type="radio" id="unityPro" name="option" value="pro">
                <label for="unityPro">Unity Pro</label><br>
                <input type="radio" id="unityEnterprise" name="option" value="enterprise">
                <label for="unityEnterprise">Unity Enterprise</label><br>
        </div>
        <div>
                <label for="value">Installs:</label>
                <input type="number" id="value" name="value">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div>
            <p>
                Install Tax: <span id="result">Sup</span>
            </p>
        </div>
    </div>
    <div class="grid">
        <p></p>
        <img src="{{ url_for('static', filename='lmao.png') }}"/>
    </div>
    <script>
        $(document).ready(function(){
            $("#myForm").submit(function(event){
                event.preventDefault();
                $.ajax({
                    url: '/calculate',
                    type: 'post',
                    data: $('#myForm').serialize(),
                    success: function(response){
                        $("#result").html(response.result);
                    }
                });
            });
        });
    </script>
</body>
</html>
